*{
box-sizing: border-box
padding:0;
margin:0;
}


#header-container{
width:100%;
height:10vh;
background-image: url(/img/pattern.png);
background-size:20%;
background-color: rgb(75, 152, 242)
}
 #logo{
    width:10%;
    margin-left: 6%;
    padding-top: 2%;
}

#title-1{
font-size: 50px;
margin-left: 6%;
margin-top: 1%;
}

#Blue-written{
    color: rgb(93, 193, 236);
    font-weight: bold;
}

#subtext{
font-size: 22px;
margin-left: 6%;
}
section-img>p{
 margin-left: 6%;   
}
section-article>p{
    font-size: 20px;
    margin-left: 6%;
    margin-top: 1%;;
    
    
}

#tim{
width:25%;
margin-left: 6%;
margin-top:1%;
}

#tim2{
width: 21.5%;

}